#logo{
    width: 50px;
    height: 50px;
}

.navbar .nav-link:hover {
    color: #003DA5 !important; /* Change hover color to blue */
}
.navbar-toggler {
    background-color: #003DA5; /* Change to your desired color */
    border: none; /* Optional: removes the border */
}

.card img{
    height: 400px;
}


.card-text {
    max-height: 3.6em; /* Adjust based on line height */
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* Limit to 2 lines */
    text-overflow: ellipsis; /* Show ellipsis if text overflows */
}

#home {
    background: 
    linear-gradient(
            rgba(0, 0, 0, 0.75), /* Darker first color */
            rgba(0, 0, 0, 0.75)  /* Darker second color */
        ), 
    url("https://cdn.britannica.com/44/116044-050-BA81358E/Alexander-the-Great-army-forces-Persian-Battle-333-bce.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

